*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}header{
    padding: 16px 120px;
    background-color: white;
}

.logo img{
    width: 139px;
    height: 60px;   
}
.btn-1{
    border-radius: 4px;
    background:  rgba(70, 145, 101, 1);
    padding: 12px 16px ;
    color: rgb(248, 246, 246);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid ;
    border-color:rgba(70, 145, 101, 1); 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    transition: 0.4em;  
}
.btn-1:hover{
    background: rgba(255, 255, 255, 0.132);
    color:  rgb(252, 252, 252);  
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    max-width: 1360px;
}
nav .btn-1:hover{
    background: rgba(177, 30, 30, 0.854);
    color:  rgb(252, 252, 252); 
 }

nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}
nav ul li a:hover{
    color:  rgba(70, 145, 101, 1);
}
 .btn {
    padding: 14px 26px;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.4em;  
    border: 2px solid rgba(70, 145, 101, 1)   ;
    color: rgb(246, 250, 247) ;  
    text-align: left;
    font-weight: 500; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
     background: rgba(255, 255, 255, 0.132);
}

.btn:hover {
  background:  rgba(70, 145, 101, 1) ;
   color: rgb(246, 249, 248) ; 
}
.icon{
    width: 35px;
    height: 35px;
    border: white;
}
.buttons{
    display: flex;
    gap: 16px;
}   
.hero {
  position: relative;
  height: 600px;
  width: auto;
  background: url("./assets/hero-bg.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-content {
  text-align: center;
  color: white;
  width: 85%;
  max-width: 1360px;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  color: #2f855a;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 16px;
  margin-bottom: 25px; 
  font-weight: 500;
  text-align: center;
}
.badge .dot {
  width: 8px;
  height: 8px;
  background: #38a169;
  border-radius: 1000px;
}
.hero h1 {
 font-size: 72px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
  font-style: Bold;
  text-align: center;
    text-transform: capitalize;
}   

.hero h1 span {
  color: #38a169;
}
.hero p {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  max-width: 700px;
  margin: 0 auto 35px;
  line-height: 1.6;
  font-weight: 400;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}