*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}header{
    padding: 16px 120px;
    background-color: white;
}

.logo img{
    width: 139px;
    height: 60px;   
}
.btn-1{
    border-radius: 4px;
    background:  rgba(70, 145, 101, 1);
    padding: 12px 16px ;
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid ;
    border-color:rgba(70, 145, 101, 1);
    
}
.btn-1:hover{
    background: rgb(223, 224, 225);
    color:  rgba(70, 145, 101, 1);  
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    max-width: 1360px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}
nav ul li a:hover{
    color:  rgba(70, 145, 101, 1);
}
 

