* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    max-width: 1360px;
}

.btn-1 {
    border-radius: 4px;
    background: rgba(70, 145, 101, 1);
    padding: 12px 16px;
    color: rgb(248, 246, 246);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid;
    border-color: rgba(70, 145, 101, 1);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    transition: 0.4em;
}

.btn-1:hover {
    background: rgba(255, 255, 255, 0.132);
    color: rgb(252, 252, 252);
}

nav .btn-1:hover {
    background: rgba(177, 30, 30, 0.854);
    color: rgb(252, 252, 252);
}

nav {
    padding: 16px 0px;
    background: #fff;

}

.logo img {
    width: 139px;
    height: 60px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

nav ul li a:hover {
    color: rgba(70, 145, 101, 1);
}

.icon {
    width: 35px;
    height: 35px;
    border: white;
}

.hero {
    position: relative;
    height: 600px;
    width: auto;
    background: url("./assets/hero-bg.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;
    color: white;
    width: 85%;
    max-width: 1360px;
}

.dot-text {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: #fff;
    color: #2f855a;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: 500;
    text-align: center;
}

.dot {
    width: 8px;
    height: 8px;
    background: #38a169;
    border-radius: 1000px;
}

.hero h1 {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2;
    font-style: Bold;
    text-align: center;
    text-transform: capitalize;
}

.hero h1 span {
    color: #38a169;
}

.hero p {
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    max-width: 700px;
    margin: 0 auto 35px;
    line-height: 1.6;
    font-weight: 400;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.btn {
    padding: 14px 26px;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.4em;
    border: 2px solid rgba(70, 145, 101, 1);
    color: rgb(246, 250, 247);
    text-align: left;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    background: rgba(255, 255, 255, 0.132);
}

.btn:hover {
    background: rgba(70, 145, 101, 1);
    color: rgb(246, 249, 248);
}

main .content {
    flex-direction: column;
    text-align: center;
    padding: 36px 0;
}

.content h1 {
    font-size: 48px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 700;
    text-align: center;
}

main .content p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.6;
    font-weight: 400;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.card {
    background: #fff;
    padding: 30px 20px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card-icon {
    width: 60px;
    height: 60px;
    background: rgba(249, 85, 85, 1);
    color: #fff;
    padding: 14px;
    border-radius: 50%;
    margin: 0 auto 15px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #111;
}

.card p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-top: 60px;
}

.hero-left {
    border-radius: 16px;
}

.knowledge {
    width: 600px;
    height: 600px;
}

.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.tag {
    color: #2f855a;
    font-weight: 600;
    font-size: 14px;
}

.hero-right h1 {
    font-size: 42px;
    margin: 15px 0;
    text-align: left;
}

.hero-right p {
    color: #6b7280;
    margin-bottom: 20px;
    text-align: left;
}

.hero-right ul {
    list-style: none;
    text-align: left;
}

.hero-right li {
    margin-bottom: 12px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-right li::before {
    color: #2f855a;
    position: absolute;
    left: 0;
}

.content-1 .earlyaccess  {
    background: #f7f7f4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    max-width: 1360px;
    padding: 80px 40px 80px 40px;
}

.content-1 .earlyaccess .btn-1:hover {
    background: rgba(177, 30, 30, 0.854);
    color: rgb(252, 252, 252);
}

.earlyaccess {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    text-align: center; 
    margin: 80px 40px;
 
}
footer {
  background: #071a2f;
  color: #cbd5e1;
  padding: 40px 20px;
}

.footer-content {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social{
    text-align: center;
text-decoration: none; 
color: #f7f3f3;
justify-content: center;
align-items: center;
gap: px;
}
.social a {
  margin-left: 12px;
  text-decoration: none;
  color: #cbd5e1;
}
.copy {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}